<html>
    <head>
        <link rel="stylesheet" href="css/meme_style.css">
    </head>
    <body>
        <h1>Here is your meme:</h1>
        <div class = "image"> 
        <img src = "images/<%=@pixs%>">
        </div>
        <h2><%=@caption_input%> </h2>
    </body>
</html>